.gallery_container:nth-child(1) {
  z-index: 3;
}

.gallery_container:nth-child(2) {
  z-index: 2;
}

.gallery_container:nth-child(3) {
  z-index: 1;
}

.gallery_container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
}

.gallery_heading {
  color: white;
  position: absolute;
  left: 2rem;
  top: 15%;
  z-index: 10;
  overflow: hidden;
}

.gallery_heading_title,
.gallery_heading_roles,
.gallery_heading_cases {
  overflow: hidden;
  margin-bottom: 0.4rem;
  text-transform: uppercase;
}

.gallery_container:nth-child(3) .gallery_heading_title,
.gallery_container:nth-child(3) .gallery_heading_roles,
.gallery_container:nth-child(3) .gallery_heading_cases {
  mix-blend-mode: difference;
  color: white;
}

.gallery_media {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.gallery_media_figure {
  position: relative;
  width: inherit;
  height: inherit;
  overflow: hidden;
}

.gallery_media_image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery_thumbnail {
  position: absolute;
  top: 0;
  right: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 10;
}

@media (max-width: 480px) {
  .gallery_thumbnail {
    visibility: hidden;
  }
}

.gallery_thumbnail_image {
  position: relative;
  width: 50rem;
  height: 50rem;
  object-fit: cover;
}
